:root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* colors */
    --primary-color: #ff3131;
    --secondary-color: #ffdf2b;
    --black-color: #000000;
    --white-color: #ffffff;
    --light-grey: #f9f9f9;
    --dark-shadow: rgba(0, 0, 0, 0.1);
    --dark-shadow-2: rgba(0, 0, 0, 0.2);
}

/* SEARCH BAR*/
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    width: 100%;
    max-width: 600px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 2px 5px var(--dark-shadow);
    outline: none;
    transition: box-shadow 0.3s ease;
}

#search-input:focus {
    box-shadow: 0 4px 8px var(--dark-shadow-2);
    border-color: var(--secondary-color);
    color: red;
}

/* adjustments for smaller screens */
@media (max-width: 768px) {
    #search-input {
        width: 80%;
    }
}

@media (max-width: 480px) {
    #search-input {
        width: 100%;
    }
}

/* SEARCH BAR END*/